h1 {
    
    text-align: center;
}

.marker {
    margin: 10px auto;
    height: 25px;
    width: 200px;
}

.red{
    background: linear-gradient(180deg, rgb(122,74,14) , rgb(245,62,113) ,rgb(162,27,27) );
}

.green{
    background: linear-gradient(180deg, #55680D, #71f53e,#116c31);
}

.blue{
    background-color: linear-gradient(hsl(186, 76%, 16%), hsl(223,90%,60%),hsl(240,56%,42%));
}

.container{
    padding: 10px 0;
    background-color: rgb(255,255,255);
}

.sleeve {
    
    border-left: 10px solid black;
    background-color: rgba(255,255,255, 0.5);
    width: 110px;
    height: 25px;
}

.cap {
    width: 60px;
    height: 25px;
}

.cap, .sleeve {
    display: inline-block;
}